.cadastros{
    width: 100vw;
    height: 100vh;
    padding: 3rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.cadastros .header{
    text-align: center;
    margin-bottom: 2rem;
}
.cadastros .header div{
    text-align: start;
}

.cadastros h1{
    margin-bottom: 1rem;
}

.cadastros .cadastro{
    font-size: 2rem;
    width: 100%;

    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.cadastros .cadastro input{
    padding: 0.5rem 0rem;
    outline:none;
}

.cadastros .cadastro .login{
    width: 100%;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.cadastros .cadastro input{
    width: 100%;
}

.cadastros .cadastro label{
    margin-right: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;

}

.cadastros .cadastro .senha{
    width: 100%;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.cadastros .cadastro button{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 4rem;
    border: 0;
    border-radius: 8px;

    color: #fff;
    background-color: #E28A3B;
}

.cadastros a{
    color: black;
}
