@import url('./page1.css');
@import url('./page2.css');
@import url('./splash.css');
@import url('./page4.css');
@import url('./cadastro.css');
@import url('./oratoria.css');
@import url('./postura.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}